*
!build
!webpack-old/ssr/client.js
!webpack-old/ssr/server.js
!webpack-old/ssr/vendors.js
!webpack-old/utils
!Dockerfile
!packages/ssr/package.json
!config
!.babelrc
!src/app/routesMap.js
!.well-known
